footer {
  background-color: rgb(184, 184, 184);
  color: #fff;
  padding: 10px 20%;
}
footer div {
  float: left;
  padding-right: 40px;
}
footer div h1 {
  font-size: 1.7rem;
  text-decoration: underline;
}
footer div li {
  padding: 2px 0;
}
footer div li a:hover {
  text-decoration: underline;
}
footer::after {
  clear: both;
  content: "";
  display: block;
}