.user-profile {
    border: solid $nier-font-color 3px;
    h2, h3, h4{
        background-color: $nier-font-color;
        color: $nier-bg-color;
        box-shadow: $nier-box-shadow;
    }
    h1 {
        background-color: $nier-bg-color;
        color: $nier-font-color;
        text-shadow: $nier-box-shadow;
        box-shadow: none;
        border-bottom: solid $nier-font-color 3px;
        padding-right: 120px;
        font-size: 3rem;
    }
    h2{
        margin-top: 30px;
        font-size: 2rem;
        padding: 3px 80px 3px 30px;
        margin-bottom: 10px;
        width: fit-content;
    }
    h3 {
        margin-top: 16px;
        padding: 2px 10px;
        width: 200px;

    }
    h4{
        margin-top: 15px;
        max-width: 200px;
        padding: 2px 10px;
    }
    img {
        max-height: 360px;
    }
    li {
        list-style-type: square;
        margin: 7px 0px 7px 30px;
    }
    p{
        margin-top: 7px; 
        padding: 2px 4px;
        background-color: $nier-grey;
        box-shadow: $nier-box-shadow;
        max-width: 200px;
    }
} 