$main-color: #0adbde;
$sub-color: #4fdbde;

* {  
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
}
li{
    list-style-type: none;
}
a{
    cursor: pointer;
    text-align:center;
    color: white;
    text-decoration: none
}


@import 'sass/header.scss';
@import 'sass/body.scss'; 
@import 'sass/footer.scss';  
.user-page {
    .side-bar {
        float: left;
        width: 20%;
        background-color: rgb(166, 166, 166);
        color: white;
        height: 100%;
        
        li {
            border-color: white;
            border-width: 3px;
            border-style: solid;
            
            a{
                padding: 10px 15px;
                display: block;
            }
            &:hover{
                text-decoration: underline;
                background-color: rgb(206, 206, 206);
            }
        }
    }
    >div:last-of-type {
        float: right;
        padding: 20px 30px;
        width: calc(80% - 60px);
    }
    .user-profile {
        h2{
            margin-top: 30px;
            font-size: 2rem;
        }
        h3 {
            margin-top: 16px;
        }
        h4{
            margin-top: 10px;
            border-bottom: solid black 2px;
            max-width: 360px;
        }
        img {
            max-height: 360px;
        }
        li {
            list-style-type: disc;
            margin: 7px 0px 7px 30px;
        }
        p{
            margin-top: 7px;
        }
    }
    &::after{
        clear: both;
        content: "";
        display: block;
    }
}