* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica", "Noto Sans", sans-serif;
  font-weight: 300;
}

li {
  list-style-type: none;
}

a {
  cursor: pointer;
  text-align: center;
  color: white;
  text-decoration: none;
}

.current-page {
  background-color: #4D493E;
}
.current-page a {
  color: #DCD8C0 !important;
}

header {
  background-color: #0adbde;
}
header div > img {
  float: left;
  width: min(15%, 150px);
}
header div > h1 {
  float: left;
  margin: 35px 0;
  font-size: 3rem;
  padding: 0 3rem;
  width: calc(70% - 6rem);
}
header div > div {
  float: right;
  position: relative;
  width: min(15%, 150px);
}
header div > div img {
  width: 100%;
}
header div > div a {
  display: block;
  position: absolute;
  z-index: 1;
  bottom: 0px;
  width: 100%;
  padding: 10px 0;
  font-size: 1.1rem;
  background-color: rgba(183, 183, 183, 0.5);
}
header div > div a:hover {
  background-color: rgba(183, 183, 183, 0.9);
}
header > div::after {
  content: "";
  clear: both;
  display: block;
}
header ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 15%;
}
header ul li {
  display: inline;
  text-align: center;
  padding: 10px 15px;
  font-size: 1.2rem;
  background-color: #4fdbde;
  color: #fff;
}
header ul li:hover {
  background-color: #25f7fa;
}

body {
  background-color: rgb(169, 222, 255);
}
body .user-page {
  background-color: #C8C2AA;
  color: #4D493E;
  background-size: 0.4rem;
  background-image: linear-gradient(to right, #ccc8b1 1px, rgba(204, 200, 177, 0) 1px), linear-gradient(to bottom, #ccc8b1 1px, rgba(204, 200, 177, 0) 1px);
}
body .user-page .side-bar {
  float: left;
  width: 20%;
  background-color: #BAB5A1;
  height: 100%;
}
body .user-page .side-bar li {
  border-color: #4D493E;
  border-width: 3px;
  border-style: solid;
}
body .user-page .side-bar li a {
  display: block;
  padding: 10px 15px;
  color: #4D493E;
}
body .user-page .side-bar li a:hover {
  text-decoration: underline;
  background-color: #4D493E;
  color: #C8C2AA;
}
body .user-page > div:last-of-type {
  float: right;
  padding: 5px 10px;
  width: calc(80% - 46px);
  margin: 10px;
}
body .user-page::after {
  clear: both;
  content: "";
  display: block;
}

.home-page > div {
  margin-bottom: 20px;
}
.home-page > div > h2 {
  margin-bottom: 15px;
  text-align: center;
  text-decoration: underline;
  font-size: 2.5rem;
  color: rgb(77, 77, 77);
}
.home-page > div ul.download-links {
  display: grid;
  width: 85%;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  text-align: center;
  font-size: 1.5rem;
}
.home-page > div ul.download-links li {
  background-color: rgb(0, 171, 0);
  border-radius: 10px;
}
.home-page > div ul.download-links li a {
  display: block;
  padding: 25px 0;
}
.home-page > div ul.download-links li:hover {
  background-color: rgb(0, 204, 0);
}
.home-page > div > h4 {
  margin: 0 auto;
  padding-bottom: 5px;
  width: 60%;
  font-size: 2rem;
  text-decoration: underline;
}
.home-page > div p {
  margin: 0 auto;
  padding: 20px;
  width: 60%;
  background-color: rgba(84, 84, 84, 0.368);
  color: #fff;
  border-radius: 7px;
}

.login-page input, .login-page span {
  display: block;
  max-width: 300px;
  width: 90%;
  margin: 5px auto;
}
.login-page span {
  font-size: 1.2rem;
  margin-top: 20px;
}
.login-page span:first-of-type {
  margin-top: 80px;
}
.login-page input {
  font-size: 1.1rem;
  padding: 5px 15px;
  width: calc(90% - 30px);
}
.login-page input[type=submit] {
  display: block;
  margin: 25px auto 120px auto;
  color: rgb(0, 180, 0);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 10px;
}
.login-page input[type=submit]:hover {
  background-color: rgb(209, 209, 209);
}

.user-profile {
  border: solid #4D493E 3px;
}
.user-profile h2,
.user-profile h3,
.user-profile h4 {
  background-color: #4D493E;
  color: #C8C2AA;
  box-shadow: 3px 3px 0 rgba(77, 73, 62, 0.3);
}
.user-profile h1 {
  background-color: #C8C2AA;
  color: #4D493E;
  text-shadow: 3px 3px 0 rgba(77, 73, 62, 0.3);
  box-shadow: none;
  border-bottom: solid #4D493E 3px;
  padding-right: 120px;
  font-size: 3rem;
}
.user-profile h2 {
  margin-top: 30px;
  font-size: 2rem;
  padding: 3px 80px 3px 30px;
  margin-bottom: 10px;
  width: -moz-fit-content;
  width: fit-content;
}
.user-profile h3 {
  margin-top: 16px;
  padding: 2px 10px;
  width: 200px;
}
.user-profile h4 {
  margin-top: 15px;
  max-width: 200px;
  padding: 2px 10px;
}
.user-profile img {
  max-height: 360px;
}
.user-profile li {
  list-style-type: square;
  margin: 7px 0px 7px 30px;
}
.user-profile p {
  margin-top: 7px;
  padding: 2px 4px;
  background-color: #BAB5A1;
  box-shadow: 3px 3px 0 rgba(77, 73, 62, 0.3);
  max-width: 200px;
}
.user-profile .graph {
  margin-top: 10px;
  border: 3px solid #4D493E;
}

.diagnose-section {
  border: solid #4D493E 3px;
}
.diagnose-section h2, .diagnose-section h3, .diagnose-section label {
  background-color: #4D493E;
  color: #C8C2AA;
  box-shadow: 3px 3px 0 rgba(77, 73, 62, 0.3);
}
.diagnose-section h1, .diagnose-section > span {
  background-color: #C8C2AA;
  color: #4D493E;
  text-shadow: 3px 3px 0 rgba(77, 73, 62, 0.3);
  box-shadow: none;
  border-bottom: solid #4D493E 3px;
  padding-right: 120px;
  font-size: 3rem;
}
.diagnose-section h2 {
  margin-top: 30px;
  font-size: 2rem;
  padding: 3px 30px;
  margin-bottom: 10px;
  max-width: 300px;
}
.diagnose-section h3 {
  margin-top: 16px;
  padding: 2px 10px;
  width: 200px;
  cursor: pointer;
  color: #4D493E;
  background-color: #BAB5A1;
  box-shadow: none;
  border-bottom: solid #4D493E 3px;
  border-top: solid #4D493E 3px;
}
.diagnose-section h3:hover {
  background-color: #4D493E;
  color: #C8C2AA;
  box-shadow: 3px 3px 0 rgba(77, 73, 62, 0.3);
  border: none;
}
.diagnose-section label {
  display: block;
  margin-top: 15px;
  max-width: 200px;
  padding: 2px 10px;
  background-color: #BAB5A1;
  color: #4D493E;
  cursor: pointer;
}
.diagnose-section label:hover {
  background-color: #4D493E;
  color: #DCD8C0;
}
.diagnose-section input[type=number] {
  width: 40px;
}
.diagnose-section li {
  margin: 7px 0px 7px 30px;
  max-width: 300px;
}
.diagnose-section li p {
  display: inline;
}
.diagnose-section li span {
  float: right;
}
.diagnose-section > span {
  display: block;
  margin-top: 15px;
  font-size: 1.5rem;
  max-width: 200px;
}
.diagnose-section span + ul {
  background-color: #DCD8C0;
  max-width: 360px;
  padding: 2px 0;
  margin: 8px 0;
  border-top: solid #4D493E 3px;
  border-bottom: solid #4D493E 3px;
}
.diagnose-section span + ul li {
  list-style-type: square;
}
.diagnose-section p {
  margin-top: 7px;
}

footer {
  background-color: rgb(184, 184, 184);
  color: #fff;
  padding: 10px 20%;
}
footer div {
  float: left;
  padding-right: 40px;
}
footer div h1 {
  font-size: 1.7rem;
  text-decoration: underline;
}
footer div li {
  padding: 2px 0;
}
footer div li a:hover {
  text-decoration: underline;
}
footer::after {
  clear: both;
  content: "";
  display: block;
}

@media screen and (max-width: 720px) {
  header div > h1 {
    font-size: 2rem;
  }
  .home-page > div ul.download-links {
    grid-template-columns: 1fr;
  }
  .home-page > div ul.download-links li {
    margin: 10px 0;
  }
  .graph {
    width: 90%;
  }
}
@media screen and (max-width: 480px) {
  header div > h1 {
    font-size: 1.5rem;
    margin: 10px 0;
  }
  header ul {
    grid-template-columns: 1fr;
    margin: 0 2%;
  }
  .home-page > div p {
    width: 85%;
    margin: 0 auto;
    padding: 5%;
  }
  body .user-page .side-bar {
    width: 100%;
  }
  body .user-page > div:last-of-type {
    margin: 10px 2%;
    width: calc(96% - 20px);
  }
}/*# sourceMappingURL=index.css.map */